@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');
@import "tailwindcss";

:root {
  --background: #02050E;
  --foreground: #02050E;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #02050E;
    --foreground: #ededed;
  }
}
body {
  font-family: 'Plus Jakarta Sans', sans-serif;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'Plus Jakarta Sans', sans-serif;
}

@keyframes scrollLeft {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

@keyframes scrollRight {
  0% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(0%);
  }
}

.animate-scrollLeft {
  animation: scrollLeft 50s linear infinite;
}

.animate-scrollRight {
  animation: scrollRight 50s linear infinite;
}

.founder-card {
  border: 0.8px solid;
  border-image-slice: 1;
  border-image-source: linear-gradient(102.46deg, rgba(255, 153, 0, 0) -6.42%, #FF9900 102.64%);
  border-radius: 10px;
  background-color: #111827;
  overflow: hidden; /* Ensures content respects the border radius */
}


.calendly-inline-widget {
  width: 100%;
}

/*I only add the css to see the hubspot on the screen*/
#hubspot-messages-iframe-container,
iframe[src*="hubspot.com"] {
  display: none !important;
  visibility: hidden !important;
}
